
<head>
	<title>Mylon Suren</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">







	<!-- Source styling -->
	<link rel="stylesheet" type="text/css" href="/style/indexStyle.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>

	<!-- Dependencies -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


	<!-- Controller -->
	<script type="text/javascript" src="/script/indexPageController.js"></script>

</head>


<body ng-app="app" ng-controller="indexPageController">
	<div class="ui secondary pointing menu">
		<a class="item {{homeButton}}" ng-click="menuClick('homeButton')">
			Home
		</a>
		<a class="item {{linksButton}}" ng-click="menuClick('linksButton')">
			Links
		</a>
		<a class="item {{resumeButton}}" ng-click="menuClick('resumeButton')">
			Resume
		</a>
	</div>



	<div class="ui grid">
		<div class="ui sixteen wide column">
			<div class="ui one cards">
				<div id="fullWideCard" class="ui raised card">
					<div class="content">
						<h1 id="name" class="ui centered header">{{name}}
							<div class="ui sub header">2nd Year Computer Science Student</div>
						</h1>
						<!-- <div class="description"></div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="ui eleven wide column">
			<div class="ui one cards">
				<div id="twoThirdsWideCard" class="ui raised card">
					<div class="content">
						<h1 class="ui header">Technical Skills
							<div class="ui sub header"></div>
						</h1>
						<div class="description">
							<div class="ui five column grid">
								<div class="ui column">
									<div class="ui middle aligned animated list">
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/java/color/60/000000">
											<div class="content">
												<div class="header">Java</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/c-programming/color/60/000000">
											<div class="content">
												<div class="header">C</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui column">
									<div class="ui middle aligned animated list">
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/javascript/ios7/60/000000">
											<div class="content">
												<div class="header">JavaScript</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/python/color/60/000000">
											<div class="content">
												<div class="header">Python</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui column">
									<div class="ui middle aligned animated list">
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/html-5/color/60/000000">
											<div class="content">
												<div class="header">HTML</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/css3/color/60/000000">
											<div class="content">
												<div class="header">CSS</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui column">
									<div class="ui middle aligned animated list">

										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/swift/color/100/000000">
											<div class="content">
												<div class="header">Swift</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="http://freevector.co/wp-content/uploads/2011/10/nodejs-icon.png">
											<div class="content">
												<div class="header">NodeJS</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui column">
									<div class="ui middle aligned animated list">
										<div class="item">
											<img class="ui avatar image" src="https://material.angularjs.org/latest/img/icons/angular-logo.svg">
											<div class="content">
												<div class="header">AngularJS</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="http://static.tumblr.com/lbtm3t2/8PAn0kziu/mongodb-logo.png">
											<div class="content">
												<div class="header">MongoDB</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui five wide column">
			<div class="ui one cards">
				<div id="oneThirdsWideCard" class="ui raised card">

				</div>
			</div>
		</div>
	</div>

</body>
