
<head>
	<title>Mylon Suren</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">







	<!-- Source styling -->
	<link rel="stylesheet" type="text/css" href="/style/indexStyle.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>

	<!-- Dependencies -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


	<!-- Controller -->
	<script type="text/javascript" src="/script/indexPageController.js"></script>

</head>


<body ng-app="app" ng-controller="indexPageController">
	<div class="ui secondary pointing menu">
		<a class="item {{homeButton}}" ng-click="menuClick('homeButton')">
			Mylon Surenthiran
		</a>
		<div class="right menu">
			<a class="item {{githubButton}}" ng-click="menuClick('githubButton')">
				<i class="ui link github icon"></i>
				Github
			</a>

			<a class="item {{linkedInButton}}" ng-click="menuClick('linkedInButton')">
				<i class="ui link linkedin icon"></i>
				LinkedIn
			</a>


			<a class="item {{resumeButton}}" ng-click="menuClick('resumeButton')">
				<i class="ui link file text outline icon"></i>
				Resume
			</a>
		</div>
	</div>


	<div class="ui grid">
		<div class="ui sixteen wide column">
			<div class="ui one cards">
				<div id="fullWideCard" class="ui raised card">
					<div class="content">
						<h1 id="name" class="ui centered header">Mylon Surenthiran
							<div class="ui sub header">Computer Science Student</div>
						</h1>
						<div class="ui description">
							&nbsp
							<div class="ui centered sixteen column grid">
								<div class="ui column">
									<a class="item" ng-click="menuClick('githubButton')">
	  							    	<i class="ui link large black github icon"></i>
	  							  	</a>
								</div>
								<div class="ui column">
									<a class="item" ng-click="menuClick('linkedInButton')">
										<i class="ui link large black linkedin icon"></i>

								  	</a>
								</div>
								<div class="ui column">
									<a class="item" ng-click="menuClick('resumeButton')">
										<i class="ui link large black file text outline icon"></i>
								 	</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui six wide column">
			<div class="ui one cards">
				<div id="oneThirdsWideCard" class="ui raised card">
					<div class="content">


						<h1 class="ui centered dividing header">
							Education
						</h1>
						&nbsp
						<!-- <img class="ui tiny image" src="https://pbs.twimg.com/profile_images/801076590176309248/nOTvuqN5.jpg"> -->
						<h3 class="ui header">
						  <img src="https://pbs.twimg.com/profile_images/801076590176309248/nOTvuqN5.jpg" class="ui avatar image">
						  <div class="content">
							  University of Waterloo
							  <div class="ui black sub header">
								Honours Bachelor of Computer Science, Co-op
							  </div>
							  <p style="font-size: 0.7em;">
								2016 - 2021
							  </p>
						  </div>

					  	</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="ui ten wide column">
			<div class="ui one cards">
				<div id="twoThirdsWideCard" class="ui raised card">
					<div class="ui content">
						<h1 class="ui centered dividing header">Technical Skills</h1>
						&nbsp
						<!-- <div class="ui centered description"> -->
							<div class="ui centered grid">
								<div class="ui six column centered row">
								<div class="ui column">
									<div class="ui middle aligned  list">
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/java/color/60/000000">
											<div class="content">
												<div class="header">Java</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/c-programming/color/60/000000">
											<div class="content">
												<div class="header">C</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui column">
									<div class="ui middle aligned  list">
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/javascript/ios7/60/000000">
											<div class="content">
												<div class="header">JavaScript</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/python/color/60/000000">
											<div class="content">
												<div class="header">Python</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui column">
									<div class="ui middle aligned  list">
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/html-5/color/60/000000">
											<div class="content">
												<div class="header">HTML</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/css3/color/60/000000">
											<div class="content">
												<div class="header">CSS</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui column">
									<div class="ui middle aligned  list">

										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/swift/color/100/000000">
											<div class="content">
												<div class="header">Swift</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="http://freevector.co/wp-content/uploads/2011/10/nodejs-icon.png">
											<div class="content">
												<div class="header">NodeJS</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui column">
									<div class="ui middle aligned  list">
										<div class="item">
											<img class="ui avatar image" src="https://material.angularjs.org/latest/img/icons/angular-logo.svg">
											<div class="content">
												<div class="header">AngularJS</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="http://static.tumblr.com/lbtm3t2/8PAn0kziu/mongodb-logo.png">
											<div class="content">
												<div class="header">MongoDB</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui column">
									<div class="ui middle aligned  list">
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/git/color/96/000000">
											<div class="content">
												<div class="header">Git</div>
											</div>
										</div>
										<div class="item">
											<img class="ui avatar image" src="https://png.icons8.com/microsoft-excel/color/96/000000">
											<div class="content">
												<div class="header">Excel</div>
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
