#name {
    font-size: 80px;
}



#fullWideCard {
    padding: 60px;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
}


#twoThirdsWideCard {
    padding: 30px;
    padding-top: 15px;
    padding-left: 50px;
    /*margin-left: 50px;*/
    margin-right: 50px;
}

#oneThirdsWideCard {
    padding: 30px;
    padding-top: 15px;
    margin-left: 50px;
    /*margin-right: 50px;*/
}
