
html, body {
    overflow-x: hidden;
}

#name {
    font-size: 80px;
}


#fullWideCard {
    padding: 60px;
    margin-top: 56px;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*margin-bottom: 20px;*/
    /*height: calc(100vh - 50px);*/
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}






.ui.secondary.pointing.menu {
    /*margin-top: 14px;*/
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: black;
}

#innerCards:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#innerCards {
    background: rgba(0, 0, 0, 0);
}
